body{
	font-size:14px;
	padding:2px;
}

#logo{
	background-image:url('../images/logo.png');
	background-position:right top;
	background-repeat:no-repeat;
	position:absolute;
	right:10px;
	z-index:100;
	width:170px;
	height:100px;
}

#mainContent{
	margin:5px;
	line-height:2em;
	text-align:center;
}

#disconnect{
	position:absolute;
	right:60px;
	top:113px;
	z-index:100;
	padding:7px;
	font-size:1.1em;
}

#group1 .ui-widget-header, #group2 .ui-widget-header, #group3 .ui-widget-header, #group4 .ui-widget-header{
	line-height:2em;
	text-align:center;
	width:275px;
}

