<!DOCTYPE html>
<html>
<head>
	<link href="${basePath}/css/overcast/jquery-ui-1.8.20.custom.css" rel="stylesheet" type="text/css"/>
</head>
<body class="ui-widget-overlay">
	<div class="ui-widget">
		<div class="ui-widget-header" style="line-height:2em;text-align:center">
			Tabla de clasificación de la Eurocopa 2012
		</div>
		<div class="ui-widget-content">
			<table cellpadding="5px" id="usersTable" width="100%" class="ui-widget">
				<thead >
					<tr class="ui-state-default" style="font-weight:bold">
						<th >Usuario</th>
						<th align="center">Puntuación</th>
					</tr>
				</thead>
				<tbody class="ui-widget-content">
					#foreach(#user in #users)
						<tr>
							<td align="left">
								#user.getEmail()
							</td>
							<td>
								#user.getScoring()
							</td>
						</tr>
					#end
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>